h1 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
}

#submitButton {
    margin-top: 20px;
}

#myCheckbox {
    margin-left: 30px;
}

#sumbmitForm {
    margin-top: 40px;
}

#taskIntable {
    max-width: 300px;
}

#delete {
    width: 60px;
}

#edit {
    width: 60px;
}

#save {
    width: 60px;
}

.edit {
    border: solid 2px yellow;
}

.not-edit {
    background-color: rgb(230, 230, 230);
    border: none;
}

.crossed {
    text-decoration: line-through;
}

p.fw-bold {
  text-align: center;
  font-size: 1.1rem;
  margin-top: 20px;
}

p.fw-bold span {
  margin-left: 10px;
  font-weight: normal;
  color: #555;
}